{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block content %}
<h2 class="text-center mb-3">Blog Post</h2>

<a class="btn btn-outline-success" href=" {{ url_for( 'main.profile', uname=current_user.username)}} ">Back</a>
<div class="container d-flex justify-content-center align-items-center mt-5 ">
    <div class="postForm ">
        <h3 class="text-center mb-4 ">Post A Blog</h3>
        {{ wtf.quick_form(blogform)}}
    </div>
</div>
<div class="postblog mt-5">
    <p>{{ quote.quote }}</p>
    <sub>--{{ quote.author }}--</sub>
</div>
{% endblock %}